.center-title {
    z-index: 100;
}

.center-title-text-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

svg {
    margin: auto;
}

.black-text-layer {
    z-index: 102;
}

.back-text-layer {
    z-index: 101;
}

.center-title-text {
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 12vw;
    font-size: 10vw;
    opacity: 0;
    fill: var(--black-color)
}

.hello-world-text {
    animation: fadein 1s ease 0.5s forwards, fadeout 0s cubic-bezier(0.31, 0.63, 0.64, 0.58) 1.5s forwards;
}

.im-umashiba-text {
    animation: fadein 1s ease 1.5s forwards, fadeout 0s cubic-bezier(0.31, 0.63, 0.64, 0.58) 2.5s forwards;
}

.web-developer-text {
    animation: fadein 1s ease 2.5s forwards, fadeout 0s cubic-bezier(0.31, 0.63, 0.64, 0.58) 3.5s forwards;
}

.welcome-text {
    animation: fadein 1s ease 3.5s forwards, fadeout 0s cubic-bezier(0.31, 0.63, 0.64, 0.58) 4.5s forwards;
}

.my-portfolio-text {
    animation: fadein 1s ease 4.5s forwards, fadeout 0s cubic-bezier(0.31, 0.63, 0.64, 0.58) 5.5s forwards;
}

.please-enjoy-text {
    animation: fadein 1s ease 5.5s forwards, fadeout 0.2s cubic-bezier(0.31, 0.63, 0.64, 0.58) 6.5s forwards;
}

.umashiba-port-text {
    animation: fadein 1s ease 6.7s forwards;
}
