#contact-area {
    z-index: 102;
    background-color: var(--green-color);

    div {
        position: absolute;
        left: -60%;
        top: -10%;
        width: 200%;
        height: 30%;
        background-color: var(--green-color);
        transform: rotate(5deg);
    }
}

.contact-home-h1 {
    position: absolute;
    top: 40%;
    right: 20%;
}
