#contact-area {
    z-index: 102;
    background-color: var(--green-color);

    div:first-child {
        position: absolute;
        left: -60%;
        top: -10%;
        width: 200%;
        height: 30%;
        background-color: var(--green-color);
        transform: rotate(5deg);
    }
}

.contact-home-h1 {
    position: absolute;
    top: 40%;
    right: 20%;

    svg {
        text {
            &:first-child {
                animation-delay: 4s;
            }

            &:nth-child(2) {
                animation-delay: 4.6s;
            }
        }
    }

    &:before {
        animation-delay: 2.9s;
    }
}
