#technology-area {
    z-index: 101;
    background-color: var(--orange-color);

    div:first-of-type {
        position: absolute;
        left: -60%;
        top: -8%;
        width: 200%;
        height: 30%;
        background-color: var(--orange-color);
        transform: rotate(-5deg);
    }
}

.technology-home-h1 {
    position: absolute;
    top: 30%;
    left: 10%;

    svg {
        text {
            animation-delay: 3.2s;
        }
    }

    &:before {
        animation-delay: 2.1s;
    }
}
