#umashiba-port-area {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--pink-color);
    min-height: 25vh;
}

.umashiba-port-home-h1 {
    position: absolute;
    top: 30%;
    left: 10%;
}
