#works-area {
    position: relative;
    z-index: 101;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--blue-color);
    min-height: 25vh;

    div {
        position: absolute;
        left: -60%;
        top: -12%;
        width: 200%;
        height: 30%;
        background-color: var(--blue-color);
        transform: rotate(5deg);
    }
}

.works-home-h1 {
    position: absolute;
    top: 30%;
    right: 10%;
}
