#works-area {
    z-index: 101;
    background-color: var(--blue-color);

    div:first-child {
        position: absolute;
        left: -60%;
        top: -12%;
        width: 200%;
        height: 30%;
        background-color: var(--blue-color);
        transform: rotate(5deg);
    }
}

.works-home-h1 {
    position: absolute;
    top: 30%;
    right: 20%;


    svg {
        text {
            &:first-child {
                animation-delay: 2.4s;
            }

            &:nth-child(2) {
                animation-delay: 3.2s;
            }
        }
    }

    &:before {
        animation-delay: 1.3s;
    }

}
