@import '../constants.scss';

.color-page-top-close-button {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;

    @media (min-width: $sm-breakpoint) {
        width: 100px;
        height: 44px;
        border-radius: 22px;
    }

    span {
        margin-bottom: 3px;
    }
}

.color-page-bottom-close-button {
    width: 160px;
    min-height: 46px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    margin: 10px 0 20px 0;

    @media (min-width: $sm-breakpoint) {
        width: 140px;
        height: 60px;
        border-radius: 30px;
    }

    span {
        margin-bottom: 3px;
    }
}
