@import '../constants.scss';

.color-page-card {
    box-shadow: 5px 5px;
    border-radius: 16px;
    width: 360px;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
