@import '../constants.scss';

.color-page-close-button {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;

    @media (min-width: $sm-breakpoint) {
        width: 100px;
        height: 44px;
        border-radius: 22px;
    }

    span {
        margin-bottom: 3px;
    }
}
