@import '../constants.scss';

.color-page-content-space {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

    @media (min-width: $sm-breakpoint) {
        flex-direction: row;
        margin-top: 100px;
        align-items: flex-start;
    }
}
