@import './constants.scss';

.page-box {
    width: 100%;
    height: 100%;
}

.black-background {
    background-color: $black-color;
}

.white-background {
    background-color: $white-color;
}

.pink-background {
    background-color: $pink-color;
}

.blue-background {
    background-color: $blue-color;
}


.accent-pink-background {
    background-color: $accent-pink;
}

.accent-blue-background {
    background-color: $accent-blue;
}

.accent-orange-background {
    background-color: $accent-orange;
}

.accent-green-background {
    background-color: $accent-green;
}


.deep-pink-background {
    background-color: $deep-pink;
}

.deep-blue-background {
    background-color: $deep-blue;
}

.deep-orange-background {
    background-color: $deep-orange;
}

.deep-green-background {
    background-color: $deep-green;
}


.black {
    color: $black-color;
}

.white {
    color: $white-color;
}

.pink {
    color: $pink-color;
}

.blue {
    color: $blue-color;
}

.orange {
    color: $orange-color;
}

.green {
    color: $green-color;
}


.accent-pink {
    color: $accent-pink;
}

.accent-blue {
    color: $accent-blue;
}

.accent-orange {
    color: $accent-orange;
}

.accent-green {
    color: $accent-green;
}

.deep-pink {
    color: $deep-pink;
}

.deep-blue {
    color: $deep-blue;
}

.deep-orange {
    color: $deep-orange;
}

.deep-green {
    color: $deep-green;
}


.maximum-expand {
    width: 100%;
    height: 100%;
}

.flex-box-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
